<footer class="container-fluid footer-basic">
  <section class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">content-section</div>
    <div class="col-xs-12 col-sm-6 col-md-4">content-section</div>
    <div class="col-xs-12 col-sm-6 col-md-4">content-section</div>
  </section>
</footer>
