<footer class="container-fluid footer-basic">
  <section class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <li class="footer-list">Ei ius cibo.</li>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <li class="footer-list">Pri dico philosophia.</li>
      </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <li class="footer-list">Graece liberavisse.</li>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <li class="footer-list">Graece liberavisse.</li>
    </div>
  </section>
</footer>
