<header class="container-fluid">
  <nav class="row">
    <div class="col-xs-12">webpack2-webdesigner example</div>
  </nav>
  <img src="<%= require('../img/sample1.jpg') %>" class="responsive-img"/>
</header>
