<section class="container-fluid">
  <div class="row sub-header">
    <h2 class="col-xs-12">image list</h2>
    <div class="col-xs-12">Lorem ipsum dolor sit amet, postulant petentium no eam, cu detracto scriptorem.</div>
  </div>
  <ul class="row">
    <li class="col-xs-12 col-sm-6 card-padding">
      <div class="card-basic card-adjust">
        <a href="/detail.html">
        <img src="<%= require('../img/sample1.jpg') %>" class="responsive-img"/>
        <div class="card-description">Lorem ipsum dolor sit amet, vim nisl solum ludus eu. Semper praesent scribentur ut vim, et mea alii purto vidit.</div>
        </a>
      </div>
    </li>
    <li class="col-xs-12 col-sm-6 card-padding">
      <div class="card-basic card-adjust">
        <a href="/detail.html">
        <img src="<%= require('../img/sample2.jpg') %>" class="responsive-img"/>
        <div class="card-description">Lorem ipsum dolor sit amet, paulo explicari an duo. Quo no sonet essent alienum. Eos errem sensibus similique ad eos.</div>
        </a>
      </div>
    </li>
    <li class="col-xs-12 col-sm-6 card-padding">
      <div class="card-basic card-adjust">
        <a href="/detail.html">
        <img src="<%= require('../img/sample3.jpg') %>" class="responsive-img"/>
        <div class="card-description">Lorem ipsum dolor sit amet, quo an maiorum delicata eloquentiam, labore prodesset no pro? Vim iudico doming ea! Qui erat.</div>
        </a>
      </div>
    </li>
    <li class="col-xs-12 col-sm-6 card-padding">
      <div class="card-basic card-adjust">
        <a href="/detail.html">
        <img src="<%= require('../img/sample4.jpg') %>" class="responsive-img"/>
        <div class="card-description">Lorem ipsum dolor sit amet, mea ex malorum labitur, sadipscing dissentiet mel ne! Eos ex quem phaedrum, soluta omittantur mea.</div>
        </a>
      </div>
    </li>
  </ul>
</section>
