<section class="container-fluid">
  <ul class="row list-basic">
    <li class="col-xs-12 col-sm-6">
      <div class="card-basic card-margin">
        <a href="/detail.html">
        <img src="<%= require('../img/sample3.jpg') %>" class="responsive-img"/>
        <div class="card-description">description</div>
        </a>
      </div>
    </li>
    <li class="col-xs-12 col-sm-6">
      <div class="card-basic card-margin">
        <a href="/detail.html">
        <img src="<%= require('../img/sample3.jpg') %>" class="responsive-img"/>
        <div class="card-description">description</div>
        </a>
      </div>
    </li>
    <li class="col-xs-12 col-sm-6">
      <div class="card-basic card-margin">
        <a href="/detail.html">
        <img src="<%= require('../img/sample3.jpg') %>" class="responsive-img"/>
        <div class="card-description">description</div>
        </a>
      </div>
    </li>
    <li class="col-xs-12 col-sm-6">
      <div class="card-basic card-margin">
        <a href="/detail.html">
        <img src="<%= require('../img/sample3.jpg') %>" class="responsive-img"/>
        <div class="card-description">description</div>
        </a>
      </div>
    </li>
  </ul>
</section>
