<section class="container-fluid">
  <ul class="row">
    <li class="col-xs-12 col-sm-6">
      <img src="<%= require('../img/sample3.jpg') %>" class="responsive-img"/>
    </li>
    <li class="col-xs-12 col-sm-6">
      <img src="<%= require('../img/sample4.jpg') %>" class="responsive-img"/>
    </li>
  </ul>
</section>
